<footer
	class="w-full py-xl px-lg flex flex-col md:flex-row justify-between items-center gap-md bg-surface-container-low dark:bg-surface-container-highest border-t border-outline-variant dark:border-outline"
>
	<div class="flex flex-col items-center md:items-start gap-xs">
		<span
			class="font-headline-sm text-headline-sm font-bold text-primary dark:text-primary-fixed"
			>GDG Guadalajara</span
		>
		<p
			class="font-body-sm text-body-sm text-on-surface-variant dark:text-surface-variant text-center md:text-left"
		>
			© 2024 GDG Guadalajara. Google Developer Groups is a program
			provided by Google.
		</p>
	</div>
	<div class="flex flex-wrap justify-center gap-md"></div>
</footer>
