<section
	id="contacto"
	class="max-w-container-max mx-auto px-lg py-3xl reveal active"
>
	<div
		class="google-gradient p-2xl rounded-3xl text-on-primary text-center relative overflow-hidden"
	>
		<div class="absolute inset-0 bg-black/20"></div>
		<div class="relative z-10">
			<h2 class="font-headline-xl text-headline-xl mb-md">
				Únete como Speaker
			</h2>
			<p class="font-body-lg mb-xl mx-auto opacity-90">
				¿Tienes algo que compartir o quieres apoyar el talento local?
				Estamos siempre buscando nuevas voces y aliados estratégicos.
			</p>
			<a
				href="https://docs.google.com/forms/d/e/1FAIpQLSePoa3a6H-iZV434bekB13OAu4akXZqrjN16PEVhtaK-1gMQg/viewform?usp=header"
				target="_blank"
				rel="noopener noreferrer"
				rel="noreferrer"
				class="px-3xl py-md bg-white text-primary rounded-full font-label-md text-lg hover:shadow-2xl hover:scale-105 active:scale-95 transition-all duration-300"
			>
				Postular una charla
			</a>
		</div>
		<!-- Decorative element -->
		<div
			class="absolute -bottom-10 -right-10 w-48 h-48 bg-white/10 rounded-full blur-2xl"
		>
		</div>
		<div
			class="absolute -top-10 -left-10 w-48 h-48 bg-white/10 rounded-full blur-2xl"
		>
		</div>
	</div>
</section>
