<header
	class="fixed top-0 left-0 w-full z-50 h-16 bg-surface-container-lowest dark:bg-surface-dim border-b border-outline-variant dark:border-outline"
>
	<div class="flex justify-between items-center px-lg h-full max-w-container-max mx-auto w-full">
		<div class="flex items-center gap-md">
			<img
				alt="GDG Guadalajara Logo"
				class="h-16 w-auto object-contain"
				src="GDG Guadalajara.svg"
			/>
		</div>
		<nav class="hidden md:flex gap-xl">
			<a
				class="nav-link font-label-md text-label-md text-primary dark:text-primary-fixed font-bold border-b-2 border-primary dark:border-primary-fixed pb-1"
				href="#inicio">Inicio</a
			>
			<a
				class="nav-link font-label-md text-label-md text-on-surface-variant dark:text-surface-variant hover:text-primary dark:hover:text-primary-fixed transition-colors"
				href="#redes">Redes</a
			>
			<a
				class="nav-link font-label-md text-label-md text-on-surface-variant dark:text-surface-variant hover:text-primary dark:hover:text-primary-fixed transition-colors"
				href="#beneficios">Beneficios</a
			>
			<a
				class="nav-link font-label-md text-label-md text-on-surface-variant dark:text-surface-variant hover:text-primary dark:hover:text-primary-fixed transition-colors"
				href="#patrocinadores">Patrocinadores</a
			>
			<a
				class="nav-link font-label-md text-label-md text-on-surface-variant dark:text-surface-variant hover:text-primary dark:hover:text-primary-fixed transition-colors"
				href="#comunidades">Comunidades</a
			>
			<a
				class="nav-link font-label-md text-label-md text-on-surface-variant dark:text-surface-variant hover:text-primary dark:hover:text-primary-fixed transition-colors"
				href="#contacto">Contacto</a
			>
		</nav>
	</div>
</header>

